{% extends 'main.html' %}


{% block example %}

<form action="{% url 'Bloger_Change_PassWord' %}" method="post">
  {% csrf_token %}


  <label for="new_pass">new password: </label>
  <input type="password" name="new_pass" id="new_pass"><br>

    <label for="ver_new_pass">verify new password: </label>
  <input type="password" name="verify_new_pass" id="ver_new_pass"><br>


  <input type="hidden" name="page_name" value="{{ page_name }}">
  <input type="hidden" name="old_pass" value="{{ old_pass }}">

  <input type="submit" value="submit">

</form>

{% endblock %}